.prog { background-color: #ff9999; }  
.math { background-color: #ffcc66; }  
.pe { background-color: #99ff99; }  
.hci { background-color: #66ccff; }  
.nstp { background-color: #ff66ff; }  
.network { background-color: #ffff66; }  
.os { background-color: #ff9966; }  
.sci { background-color: #6699ff; }  
.world { background-color: #cc99ff; }  